<div class="container" >
<fieldset>
  <legend>Registration</legend>
  <form name='regForm' novalidate>


        <input type="text" name="firstName" placeholder="First Name"
          ng-model="reg.user.firstName"

          ng-maxlength="20"
          required>
          <span ng-if="regForm.firstName.$invalid && regForm.firstName.$touched">
            Must be a valid first name
          </span>
          <br>
          <input type="text" name="lastName" placeholder="Last Name"
            ng-model="reg.user.lastName"

            ng-maxlength="30"
            required>
            <span ng-if="regForm.lastName.$invalid && regForm.lastName.$touched">
              Must be a valid last name
            </span>
            <br>

    <input type="email" name="email" placeholder="Email"
      ng-model="reg.user.email"
      ng-maxlength="60"
      required>
      <span ng-if="regForm.email.$invalid && regForm.email.$touched">
        Must be a valid email address: handle@domain format
      </span>
      <br>

    <input type="text" name="phone" placeholder="Phone ###-###-####"
      ng-model="reg.user.phone"
      ng-maxlength="30"
      pattern="(\d{3})-(\d{3})-(\d{4})">
      <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
        Phone must be in the format ###-###-####.
      </span>
      <br>
      <input type="text" name="menuShortName" placeholder="Menu 2 char short name"
        ng-model="reg.user.menuShortName"
        ng-maxlength="2"
        required>


    <button
      ng-disabled="regForm.$invalid"
      ng-click="reg.submit()">Submit</button>

      <div style="margin-top: 10px;">
        Form valid? {{ regForm.$valid }}
      </div>
  </form>
</fieldset>

<div id="echo" ng-if="reg.completed">
  Your information has been saved.
</div>
<div id="error" ng-if="reg.isSubmitted && !reg.isMenuShortNameValid()">
  No such menu number exists
</div>

</div>
